html,
body,
.login-box {
    height: 100%;
}

.iris {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

/*body {*/
/*display: flex;*/
/*min-height: 100vh;*/
/*flex-direction: column;*/
/*}*/

/*main {*/
/*flex: 1 0 auto;*/
/*}*/

/*     MENU     */

.brand-logo {
    margin-left: 1%;
}

/*     HOME PAGE     */

/*.container {*/
/*width: auto;*/
/*height: auto;*/
/*align-content: center;*/
/*}*/

/*.top-row{*/
/*width: auto;*/
/*height: auto;*/
/*margin-bottom: 5%;*/
/*margin-left: 10%;*/
/*margin-right: 10%;*/
/*margin-top: 2%;*/
/*}*/

/*.bottom-row {*/
/*width: auto;*/
/*height: auto;*/
/*margin-bottom: 2%;*/
/*margin-left: 10%;*/
/*margin-right: 10%;*/
/*margin-top: 2%;*/
/*}*/

/*.button {*/
/*border-radius: 5px;*/
/*}*/

/*.buttonSend {*/
/*margin-bottom: 2%;*/
/*margin-top: 2%;*/
/*}*/


table.highlight > tbody > tr:hover {
    background-color: darkgray;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: orange;
}

.filter {
    margin: auto;
    width: 70%;
    border: 2px solid black;
    text-align: center;
}

/*header*/
nav {
    background-color: orange;
}

/*footer*/
footer {
    background-color: orange;
}

.page-footer, .footer-copyright {
    background-color: orange;
}

/*     LOGIN PAGE COLORS    */

/* label color */
.input-field label {
    color: orange;
}

/* label focus color */
.input-field input[type=email]:focus + label {
    color: orange;
}

/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 orange;
}

/* valid color */
.input-field input[type=email].valid,
.input-field input[password].valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}

/* invalid color */
.input-field input[type=email].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: orange;
}

/*form input focus color*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 orange;
}

/*label color when active*/
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: orange;
}

/*PAGINATION*/

.pagination li.active {
    background-color: orange;
}


/* <a> buttons */
a {
    color: orange;
}


/* The Magic Float Center Code */
.float_center {
    float: right;

    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}
.float_center > .child {
    position: relative;
    left: 50%;
}

/*=========================================BY Konrad=====================================*/

/*.filter-request {*/
/*margin: auto;*/
/*width: 70%;*/
/*border: 2px solid black;*/
/*text-align: center;*/
/*margin-bottom: 5%;*/
/*margin-top: 5%;*/
/*}*/

/* kalendarz */
.picker__date-display {
    background-color: orange;
}

.picker__day.picker__day--today {
    color: orange;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: orange;
}

.picker__today, .picker__close {
    color: orange;
}

/* wykresy */
.chart {
    display: block;
    margin: auto;
    height: 60%;
    width: 60%;
}
